/* ===== Responsive ===== */
@media (max-width: 1515px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .work-wrapper {
    grid-gap: 30px;
  }
  .intro-wrapper {
    grid-gap: 30px;
  }
  .intro-subtitle {
    max-width: 500px;
  }
  .header-wrapper {
    grid-template-columns: 211px 1fr;
  }
  .brush-work {
    top: 240px;
    left: 90px;
  }
  .footer {
    padding-top: 40px;
  }
}
@media (max-width: 1200px) {
  .header-list {
    margin-right: auto;
  }
  .brush-work {
    top: 240px;
    left: 90px;
  }
  .brush-plan {
    left: 530px;
  }

  .footer {
    padding-top: 40px;
  }
}
@media (max-width: 1040px) {
  .header {
    z-index: 3000;
  }

  .header-wrapper {
    z-index: 3001;
  }
  .header-logo {
    z-index: 3002;
  }
  .burger-menu {
    width: 92px;
    height: 35px;
    display: inline-block;
    z-index: 3001;
    position: fixed;
    left: calc(95% - 50px);
  }
  .burger-icon {
    width: 75px;
    height: 35px;
    display: inline-block;
    position: fixed;
    z-index: 3001;
  }
  .header-nav {
    padding-top: 150px;
    padding-left: 20px;

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-dark-blue);
    z-index: 3000;
    transform: translateX(-100%);

    background-image: url('./assets/images/menu-bg.png');
    background-size: cover;
    background-position: 100px;
    display: flex;
    flex-direction: column;
    /* z-index: 6000; */
  }

  .header-nav-active {
    transform: translateX(0);
  }
  .header-list {
    display: block;
    margin-bottom: 30px;
  }
  /* HEADER ITEMS start------------- */
  .header-item {
    height: 80px;
    width: 220px;
    background-color: var(--color-white);
    border-radius: 7px;
    margin-bottom: 10px;
  }
  .header-item:hover {
    /* border-bottom: none; */
    border: 1px solid transparent;
  }
  .header-items-drop-active {
    top: 0px;
    left: 230px;
    width: 220px;
    height: 80px;
    background-color: var(--button-blue);
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
    z-index: 100;
    border-radius: 7px;
  }
  .header-item-drop-active {
    display: block;
    box-sizing: border-box;
    height: 80px;
    border: none;
    margin-bottom: 11px;
    background-color: var(--color-white);
    border-radius: 7px;
  }
  .header-item-drop-active:first-child {
    border: none;
  }
  .header-item-drop-active:hover {
    display: block;
    height: 80px;

    background-color: var(--button-blue);
    border-radius: 7px;
  }
  .header-item-drop-active:last-child {
    display: block;
    height: 80px;
    color: var(--button-blue);
  }
  .header-item-drop-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--button-blue);
    text-decoration: none;
  }
  .header-item-drop-link:hover {
    color: var(--color-white);
  }
  .butt-yellow {
    display: inline-flex;
    align-self: flex-start;
    width: 142px;
    height: 45px;
    margin-bottom: 10px;
  }

  /* header end */
  /*
 */
  /* INTRO STARTS -------------*/
  .brush-plan {
    left: 460px;
  }
  .brush-intro {
    top: 15%;
    left: 530px;
  }
  .intro-wrapper {
    grid-template-columns: 1fr;
  }
  .section-title {
    font-size: 90px;
  }
  .intro-subtitle {
    font-size: 23px;
    line-height: 35px;
    max-width: 800px;
  }
  .intro-foto-wrapper {
    width: 100%;
    max-width: none;
  }

  .intro-foto {
    width: 100%;
  }
  .title-brush {
    font-size: 90px;
  }
  /* INTRO ENDS -------------*/

  /* WORK STARTS    ------------------------------------ */
  .work-wrapper {
    grid-template-columns: 1fr;
    margin-bottom: 450px;
  }
  .work-title-wrapper {
    order: -1;
  }
  .brush-work {
    top: 70px;
    left: 300px;
  }
  /* WORK ENDS    ------------------------------------ */
  /* plan starts ---------- */
  .brush-plan {
    top: 50px;
  }
  .plan-subtitle {
    font-size: 30px;
  }
  /* plan ends ---------- */
  /* task starts */
  .taskkey-subtitle {
    font-size: 23px;
  }
  .brush-taskkey {
    top: 140px;
    left: 250px;
  }
  .footer {
    padding-top: 40px;
  }
  .butt-blue-header {
    width: 220px;
    width: 152px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding-top: 35px;
    justify-content: center;
  }
  .butt-blue-header:hover {
    background-color: var(--button-blue-hover);
    color: var(--color-white);
  }
  /* task ends */
}
@media (max-width: 900px) {
  .burger-icon {
    padding-right: 17px;
  }
  .plans {
    grid-template-columns: 1fr;
  }
  .brush-intro {
    left: 230px;
  }
  .brush-work {
    top: 70px;
  }
  .plan-title-wrapper {
    margin-bottom: 0px;
  }
  .plan-subtitle {
    line-height: 40px;
  }
  .plan {
    margin-top: 20;
  }
  .plan-title {
    font-size: 70px;
    margin-bottom: 40px;
  }
  .plan-price {
    font-size: 60px;
    margin-bottom: 40px;
  }
  .plan-sub-title {
    font-size: 30px;
    margin-bottom: 40px;
    line-height: 40px;
  }
  .plan-list {
    max-width: 100%;
  }
  .plan-feature {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 40px;
  }
  .brush-taskkey {
    left: 160px;
    top: 135px;
  }
  .brush-trust {
    left: 330px;
    top: 55px;
  }
  .footer {
    padding-top: 40px;
  }
  .footer-top {
    gap: 20px;
  }
  .taskkey-section {
    margin-bottom: 30px;
  }
  .taskkey-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  /* СЛАЙДЕР START 960 */
  .card {
    flex: 0 0 100%;
    margin-right: 0;
  }

  .slider-track > div {
    min-width: 100%;
  }
  .card-img-wrapper {
    max-width: 900px;
  }
  .card-img {
    scale: 200%;
    margin-bottom: 70px;
    margin-left: 35px;
  }
  .revue-caption,
  .revue-name {
    font-size: 24px;
  }
  /* СЛАЙДЕР END 960 */
}
@media (max-width: 768px) {
  .intro {
    margin-bottom: 60px;
  }
  .brush-intro {
    left: 180px;
    top: 55px;
  }
  .brush-work {
    left: 30px;
    top: 55px;
  }

  .intro-subtitle {
    margin-bottom: 40px;
  }
  .work-wrapper {
    margin-bottom: 500px;
  }
  .brush-plan {
    left: 220px;
  }
  .taskkey-section {
    margin-bottom: 50px;
  }
  .brush-trust {
    left: 220px;
    top: 55px;
  }
  .trusted-subtitle {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 576px) {
  /* мобильный */
}
