:root {
  --color-white: #ffffff;
  --link-primary: #4f9cf9;
  --link-primary-hover: #295c9b;

  --button-yellow: #ffe492;
  --button-yellow-hover: #dabc64;

  --button-blue: #4f9cf9;
  --button-blue-hover: #295c9b;
}

.header {
  top: 0;
  width: 100%;
  height: 92px;
  transition: 0.3s;
  position: fixed;
}
.header-active {
  background-color: black;
  z-index: 1000;
}
.qq {
  margin-top: 100px;
}
.wrapper {
  max-width: 1480px;
  margin: 0 auto;
}
.header-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 16px 0;
}

.butt-wrapper {
  display: flex;
}

.header-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-right: 77px;
}
.header-item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100px;
  border: 1px solid transparent;
}
.header-item:hover {
  background-color: var(--button-blue);

  border-bottom: 1px solid var(--color-white);
  transition: all 0.3s;
}

.header-item:hover .header-link {
  color: var(--color-white);
  transition: all 0.3s;
}
.header-item:has(.header-items-drop-active:hover) {
  background-color: var(--color-white);
  border: 1px solid var(--button-blue);
}
.header-item:has(.header-items-drop-active:hover) .header-link {
  color: var(--button-blue);
}

.header-items-drop-active {
  display: block;
  position: absolute;
  top: 50px;
  left: -0.5px;
  width: 102px;
  background-color: var(--button-blue);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.header-item:hover .header-items-drop-active {
  opacity: 1;
  visibility: visible;
  background-color: var(--color-white);
}

.header-item-drop-active {
  display: block;
  box-sizing: border-box;
  height: 50px;
  border: 1px solid var(--button-blue);
  border-top: none;
}
.header-item-drop-active:first-child {
  border-top: 1px solid var(--button-blue);
}
.header-item-drop-active:hover {
  display: block;
  height: 50px;

  background-color: var(--button-blue);
  border-top: none;
}
.header-item-drop-active:last-child {
  display: block;
  height: 50px;
  color: var(--button-blue);
}
.header-item-drop-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--button-blue);
  text-decoration: none;
}
.header-item-drop-link:hover {
  color: var(--color-white);
}

.header-link {
  text-decoration: none;
  color: var(--link-primary);
  font-size: 18px;
}
.header-link:hover {
  color: var(--color-white);
}

.butt-yellow {
  padding: 18px 40px;
  display: flex;
  align-items: center;
  margin-right: 25px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--button-yellow);
}
.butt-yellow:hover {
  background-color: var(--button-yellow-hover);
  color: var(--color-white);
}
.butt-blue {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 18px 34px;
  text-decoration: none;
  background-color: var(--button-blue);
}
.butt-radius {
  border-radius: 5px;
  display: inline-block;
}
/* header ends */

/* intro starts */
.intro {
  padding-top: 232px;
  margin-bottom: 140px;
}
.intro-wrapper {
  display: grid;
  grid-template-columns: 656px 824px;
  /* align-items: center; */
}
.intro-title-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.section-title {
  display: block;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 24px;
}
.title-brush {
  position: absolute;
  top: 0;
  left: 0;
}
.brush-intro {
  left: 170px;
  top: 165px;
  z-index: -1;
}

.brush-work {
  left: 50px;
  top: 266px;
  z-index: -1;
}
.intro-subtitle {
  margin-bottom: 60px;
  font-size: 18px;
  font-family: inter;
  max-width: 656px;
}

.intro-foto-wrapper {
  max-width: 824px;
  height: 549px;
  overflow: hidden;
}

.intro-foto {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* intro ends */

/* WORK STARTS    ------------------------------------ */
.work-wrapper {
  display: grid;
  grid-template-columns: 710px 670px;
  grid-gap: 100px;
  height: 661px;
  margin-bottom: 140px;
}
.work-img {
  width: 710px;
  height: 661px;
}
/*WORK ENDS    ----------------------------------------- */

/* PLAN STARTS--------------------------------- */
.plan-wrapper {
  margin-bottom: 140px;
}
.plan-title-wrapper {
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}
.brush-plan {
  position: absolute;
  top: 30px;
  z-index: -1;
  left: 600px;
}
.plan-subtitle {
  max-width: 980px;
  margin: 0 auto;
}
.plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.plan {
  max-width: 100px;
}

/* PLAN ENDS--------------------------------- */

/* TRUST ENDS--------------------------------- */
.trusted-title-wrapper {
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}
.trusted-subtitle {
  text-align: center;
  margin-bottom: 60px;
  font-size: 18px;
  font-family: inter;
  max-width: 979px;
}
.brush-trust {
  z-index: -1;
  top: 40px;
  left: 500px;
}
.slider {
  overflow: hidden;
  width: 1480px;
  /* background-color: #4f9cf9; */
}
.slider-track {
  display: flex;
  transition: transform 0.4s ease;
  width: 2492px;
}
.card-img-wrapper {
  margin: 10px;
  box-sizing: border-box;
  height: 480px;
  width: 472px;
  overflow: hidden;
  display: block;
  box-shadow: -5px 5px 9px rgba(100, 100, 100, 0.5);
  /* background-color: #dabc64; */
  padding: 60px;
}
.card {
  flex: 0 0 472px;
  margin-right: 32px;
}

.card:last-child {
  margin-right: 0;
}
.slider-track > div {
  min-width: 472px;
}
.card-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 30px;
}
.revue-caption {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 30px;
}

.revue-name {
  margin-bottom: 50px;
}
.slider-butt-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.slider-butt {
  border: none;
  background: none;
}
.arrow-style {
  height: 80px;
  width: 80px;
}
.arrow-style:hover {
  scale: 107%;
}
/* TRUST ENDS--------------------------------- */
.footer {
  background-color: black;
  display: block;
  height: 100px;
}
