:root {
  --color-black: #0f0f0f;
  --color-white: #ffffff;
  --color-dark-blue: #043873;
  --link-primary: #4f9cf9;
  --link-primary-hover: #295c9b;

  --button-yellow: #ffe492;
  --button-yellow-hover: #dabc64;

  --button-blue: #4f9cf9;
  --button-blue-hover: #295c9b;
}

.header {
  top: 0;
  width: 100%;
  height: 92px;
  transition: 0.3s;
  position: fixed;
  /* background-color: aqua; */
}
.header-logo {
  margin-top: 7px;
}
.header-active {
  background-color: var(--color-dark-blue);
  z-index: 3000;
}

.wrapper {
  max-width: 1480px;
  /* background-color: #17c952; */
  margin: 0 auto;
}

.header-wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  max-width: 1480px;
  /* background-color: #4f9cf9; */
  padding: 16px 0;
  position: relative;
}
/* включает ul-header-list, bull login, header-burger */
.header-nav {
  display: flex;
}

.burger-menu {
  position: fixed;
  left: 92%;
  z-index: 5000;
}
.header-list {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 77px;
}
.header-item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100px;
  border: 1px solid transparent;
}
.header-item:hover {
  background-color: var(--button-blue);

  border-bottom: 1px solid var(--color-white);
  transition: all 0.3s;
}

.header-item:hover .header-link {
  color: var(--color-white);
  transition: all 0.3s;
}
.header-item:has(.header-items-drop-active:hover) {
  background-color: var(--color-white);
  border: 1px solid var(--button-blue);
}
.header-item:has(.header-items-drop-active:hover) .header-link {
  color: var(--button-blue);
}

.header-items-drop-active {
  display: block;
  position: absolute;
  top: 50px;
  left: -0.5px;
  width: 102px;
  background-color: var(--button-blue);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  z-index: 100;
}

.header-item:hover .header-items-drop-active {
  opacity: 1;
  visibility: visible;
  background-color: var(--color-white);
}

.header-item-drop-active {
  display: block;
  box-sizing: border-box;
  height: 50px;
  border: 1px solid var(--button-blue);
  border-top: none;
}
.header-item-drop-active:first-child {
  border-top: 1px solid var(--button-blue);
}
.header-item-drop-active:hover {
  display: block;
  height: 50px;

  background-color: var(--button-blue);
  border-top: none;
}
.header-item-drop-active:last-child {
  display: block;
  height: 50px;
  color: var(--button-blue);
}
.header-item-drop-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--button-blue);
  text-decoration: none;
}
.header-item-drop-link:hover {
  color: var(--color-white);
}

.header-link {
  text-decoration: none;
  color: var(--link-primary);
  font-size: 18px;
}
.header-link:hover {
  color: var(--color-white);
}
/* BUTTONS START---------------- */
.butt-yellow-header {
  padding: 18px 40px;
  display: block;
  height: 18px;
  margin-right: 25px;
  align-items: center;

  justify-content: center;
  text-decoration: none;
  background-color: var(--button-yellow);
  color: var(--color-dark-blue);
}
.butt-yellow {
  padding: 18px 40px;
  display: block;
  height: 18px;
  margin-right: 25px;
  align-items: center;

  justify-content: center;
  text-decoration: none;
  background-color: var(--button-yellow);
  color: var(--color-dark-blue);
}
.butt-yellow:hover,
.butt-yellow:active,
.butt-yellow:focus {
  background-color: var(--button-yellow-hover);
  color: var(--color-white);
}
.butt-yellow-header:hover,
.butt-yellow-header:active,
.butt-yellow-header:focus {
  background-color: var(--button-yellow-hover);
  color: var(--color-white);
}
.butt-blue {
  height: 18px;
  color: var(--color-dark-blue);
  padding: 18px 34px;
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none;
  background-color: var(--button-blue);
  justify-content: center;
}
.butt-blue-header {
  width: 220px;
}
.butt-blue:hover {
  background-color: var(--button-blue-hover);
  color: var(--color-white);
}
.butt-radius {
  border-radius: 7px;
  display: inline-block;
}
.plan-butt {
  padding: 18px 34px;
  height: 18px;
  border: 1px solid var(--button-yellow);
}
.plan-butt:hover,
.plan-butt:active,
.plan-butt:focus {
  border: 1px solid var(--button-yellow-hover);
  background-color: var(--button-yellow);
}

/* BUTTONS END---------------- */

/* header ends */

/* BURGER START---------------- */
.burger-icon {
  display: none;
  width: 40px;
  height: 25px;
}

/* BURGER END---------------- */
/* intro starts */
.intro {
  padding-top: 140px;
  margin-bottom: 140px;
}
.intro-wrapper {
  display: grid;
  grid-template-columns: 44.32% 55.68%;
  grid-gap: 100px;
  overflow: hidden;
}
.intro-title-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.section-title {
  display: block;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 24px;
}
.title-brush {
  position: absolute;
  top: 0;
  left: 0;
}
.brush-intro {
  left: 170px;
  top: 165px;
  z-index: -1;
}

.brush-work {
  left: 50px;
  top: 266px;
  z-index: -1;
}
.intro-subtitle {
  margin-bottom: 60px;
  font-size: 18px;
  font-family: inter;
  max-width: 656px;
}

.intro-foto-wrapper {
  max-width: 824px;
  height: 550px;
  overflow: hidden;
}

.intro-foto {
  width: 824px;
  height: 550px;
  object-fit: cover;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
/* intro ends */

/* WORK STARTS    ------------------------------------ */
.work-wrapper {
  display: grid;
  grid-template-columns: 51.45% 48.55%;
  grid-gap: 100px;
  height: 661px;
  margin-bottom: 140px;
}
.work-foto-wrapper {
  width: 100%;
  height: 661px;
  overflow: hidden;
}

.work-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.work-title-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
/*WORK ENDS    ----------------------------------------- */

/* PLAN STARTS--------------------------------- */
.plan-wrapper {
  margin-bottom: 140px;
}
.plan-title-wrapper {
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}
.brush-plan {
  position: absolute;
  top: 30px;
  z-index: -1;
  left: 600px;
}
.plan-subtitle {
  max-width: 980px;
  margin: 0 auto;
}
.plans {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 32px;
  align-items: start;
}
.plan {
  display: block;
  padding: 44px;
  border: 1px solid var(--button-yellow);
  margin-top: 60px;
  min-width: 0;
  /* min-height: 470px; */
}
.plan-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 25px;
}
.plan-price {
  font-size: 36px;
  font-weight: 900;
  line-height: 36px;
  margin-bottom: 25px;
}
.plan-sub-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  margin-bottom: 25px;
}
.plan-list {
  max-width: 368px;
}
.plan-feature::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('./assets/svg/ic-ul-black.svg') no-repeat center;
  background-size: contain;
  flex-shrink: 0;
}

.plan-feature {
  margin-bottom: 28px;
  display: flex;
  gap: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  align-items: center;
}
.plan-center {
  border: none;
  box-shadow: 0 4px 10px rgba(100, 100, 100, 0.5);
  transform: translateY(-60px);
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 530px;
  /* min-height: 550px; */
}
.plan-feature-center {
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
}

/* PLAN ENDS--------------------------------- */

/* TASKKEY START--------------------------------- */
.taskkey-section {
  width: 100%;
  min-height: 574px;
  background-color: var(--color-dark-blue);
  margin-bottom: 140px;
}

.taskkey-wrapper {
  position: relative;
  min-height: 574px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 80px 20px;
  box-sizing: border-box;
}

.task-key-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transform: translateY(-187px);
  opacity: 0.3;
}
.brush-taskkey {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(200px);
  z-index: 0;
}
.taskkey-title {
  color: var(--color-white);
  margin-bottom: 40px;
}

.taskkey-subtitle {
  max-width: 1064px;
  color: var(--color-white);
  margin-bottom: 60px;
}
.taskkey-title,
.taskkey-subtitle,
.task-key-butt {
  position: relative;
  z-index: 1;
}
.task-key-butt:hover {
  background-color: var(--color-white);
  color: var(--button-blue-hover);
}
/* TASKKEY ENDS--------------------------------- */

/* LOGIN PAGE STARTS------------ */
.login-page {
  height: 350px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-page-title {
  font-size: 20px;
  margin-bottom: 30px;
}
.try-page {
  height: 350px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.try-page-title {
  font-size: 20px;
  margin-bottom: 30px;
}
/* LOGIN PAGE ENDS------------ */

/* TRUST STARTS--------------------------------- */
.trusted-title-wrapper {
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}
.trusted-subtitle {
  text-align: center;
  margin-bottom: 60px;
  font-size: 18px;
  font-family: Inter;
  max-width: 979px;
}
.brush-trust {
  z-index: -1;
  top: 40px;
  left: 500px;
}
.slider {
  overflow: hidden;
  max-width: 1480px;
  /* background-color: #4f9cf9; */
}
.slider-track {
  display: flex;
  transition: transform 0.4s ease;
}
.card-img-wrapper {
  margin: 10px;
  box-sizing: border-box;
  height: 480px;
  max-width: 472px;
  overflow: hidden;
  display: block;
  box-shadow: -5px 5px 9px rgba(100, 100, 100, 0.5);
  padding: 60px;
}
.card {
  flex: 0 0 472px;
  margin-right: 32px;
}

.card:last-child {
  margin-right: 0;
}
.slider-track > div {
  min-width: 472px;
}
.card-img {
  max-width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 30px;
}
.revue-caption {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 30px;
}

.revue-name {
  margin-bottom: 50px;
}
.slider-butt-wrapper {
  display: flex;
  justify-content: center;
}

.slider-butt {
  display: block;
  border: none;
  background: none;
}
.arrow-style {
  height: 80px;
  width: 80px;
}
.arrow-style:hover {
  scale: 107%;
}
/* TRUST ENDS--------------------------------- */
/*  */
/*  */
/*  */
/*  */
/*  */ /*  */
/*  */ /*  */
/*  */
/* FOOTER STARTS   ---------------------------- */

.footer {
  width: 100%;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  padding-top: 140px;
  min-height: 300px;
}

/* ---------- TOP ---------- */

.footer-top {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;
  gap: 40px;

  padding-bottom: 60px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* ---------- BRAND ---------- */

.footer-brand {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  color: var(--color-white);
  text-decoration: none;
}

.footer-logo img {
  width: 32px;
}

.footer-logo span {
  font-size: 24px;
  font-weight: 700;
}

.footer-brand p {
  max-width: 250px;

  margin-top: 24px;

  font-size: 16px;
  line-height: 1.5;
}

/* ---------- COLUMNS ---------- */

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column h3 {
  margin: 0 0 16px;

  font-size: 18px;
  font-weight: 700;
}

.footer-column ul {
  list-style: none;

  padding: 0;
  margin: 0;
}

.footer-column li {
  margin-bottom: 14px;
}

.footer-column a {
  color: var(--color-white);
  text-decoration: none;

  font-size: 16px;
}

/* ---------- CTA ---------- */

.footer-cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-cta h2 {
  margin: 0 0 16px;

  font-size: 28px;
}

.footer-cta p {
  max-width: 250px;

  margin: 0 0 20px;

  font-size: 16px;
  line-height: 1.4;
}

.footer-button {
  display: inline-flex;
  align-items: center;

  padding: 14px 28px;

  background-color: #4f9cf9;
  color: var(--color-white);

  text-decoration: none;
  border-radius: 8px;
}
.footer-button:hover,
.footer-button:active,
.footer-button:focus {
  background-color: var(--color-white);
  color: var(--button-blue-hover);
}
/* ---------- BOTTOM ---------- */

.footer-bottom {
  position: relative;
  z-index: 10;

  display: flex;
  align-items: center;
  gap: 35px;
  padding-top: 20px;
}
.footer-language {
  font-size: 16px;
  cursor: pointer;
}

.footer-language-wrapper {
  position: relative;
  z-index: 10;
}
/* MENU */

.dropdown-content {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 102px;

  background: none;

  opacity: 0;
  visibility: hidden;

  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;

  z-index: 100;
}

.dropdown-content--open {
  opacity: 1;
  visibility: visible;
}

.dropdown-content a {
  display: block;
  padding: 10px;

  color: var(--color-white);
  text-decoration: none;
}

/* MENU ENDS */
.footer-legal {
  display: flex;
  gap: 35px;
}

.footer-legal a {
  color: var(--color-white);
  text-decoration: none;

  font-size: 16px;
}

.footer-copyright {
  font-size: 14px;
}

.footer-socials {
  display: flex;
  gap: 25px;

  margin-left: auto;
}

.footer-socials a {
  color: var(--color-white);
  text-decoration: none;
}
/* FOOTER ENDS   ---------------------------- */
